@charset "utf-8";

/* ========================================
    リセットcss
========================================= */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  overflow-y: scroll;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
input,
textarea {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
}
a:focus {
  outline: none;
}

/* ========================================
    全体設定
========================================= */
html * {
  box-sizing: border-box;
}

body {
  min-height: 100vp;
  color: rgba(82, 106, 100, 1);
  font-size: 14px;
  line-height: 1.4em;
  font-family: "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  /*if content is long 
  padding-bottom: 50px;
  */
}

#w_page1 {
  display: flex;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: rgba(39, 50, 50, 1);
  text-decoration: none;
}

/* micro clearfix */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/* ========================================
    side wrapper
========================================= */
div.side_wrapper {
  flex: 0 0 15%;
  height: 100vh;
  background-color: rgba(175, 197, 191, 1);
  position: relative;
}

div#SNS_ICONS {
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#SNS_ICONS dt {
  margin-bottom: 20px;
  margin-right: 5px;
  text-align: right;
}

#SNS_ICONS span {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#SNS_ICONS dl {
  margin-bottom: 10px;
  fill: rgba(39, 50, 50, 1);
  width: 30px;
}

#SNS_ICONS svg:hover {
  background-color: #fff103;
}

/* ========================================
    right wrapper
========================================= */

.right_wrapper {
  flex: 1 1 auto;
  position: relative;
}

@media screen and (max-width: 767px) {
  .right_wrapper {
    margin: 0 8px 0 0;
  }
}

/* ========================================
    ヘッダー
========================================= */
header {
  width: 100%;
  /*it was 50px ↓ */
  height: 20px;
  margin: 25px 0;
  position: relative;
  background-color: yellow;
}

div#header_inner {
  width: 100%;
  height: 36px;
}

/*  メニュー　*/
header nav {
  padding: 20px;
  height: auto;
  background-color: orange;
}

header nav a:hover {
  border-bottom: 5px solid #fff103;
}
header nav ul {
  display: flex;
}

header ul li {
  padding: 0 25px;
}

header ul li a {
  font-size: 16px;
  color: rgba(82, 106, 100, 1);
}

/*  == page 2-4 == */
header ul li a#current_page {
  opacity: 0.5;
}

.menubtn {
  display: none;
}

@media screen and (max-width: 767px) {
  .w1000 {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    height: 100%;
  }

  .menubtn {
    display: block;
    width: 100%;
    max-width: 50px;
    position: fixed;
    right: 8px;
    z-index: 999;
  }

  nav {
    background-color: rgba(39, 50, 50, 0.9);
    padding: 40px 3% 10px;
    position: absolute;
    top: 20px;
    right: 0;
    height: auto;
    width: auto;
  }

  header nav ul {
    display: block;
  }

  header nav li {
    margin-bottom: 30px;
  }

  header nav li:last-child {
    margin-bottom: 0;
  }

  header nav li a {
    color: white;
  }
}
/* ========================================
    メイン
========================================= */
main {
  height: auto;
  margin-top: 50px;
  align-items: center;
}

#m_page1 {
  display: flex;
}

.main_img img {
  max-width: 100%;
  height: auto;
}

.p p {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 7px;
  line-height: 1em;
  vertical-align: middle;
}

.p span {
  display: block;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5em;
  margin-top: 10px;
}

/*  == page 2 == */

#m_page2 {
  margin: 50px 20% 0;
}

#m_page2 div {
  text-align: center;
}
/* The grid */
.row {
  display: flex;
}

.column {
  width: 20%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* The expanded image container */
.container {
  position: relative;
  display: none;
  background-color: beige;
  margin-bottom: 20px;
}

/* Expanded image */
#expandedImg {
  width: 100%;
}

/* Expanded image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  main {
    display: block;
    height: auto;
  }

  div.main_img {
    text-align: center;
    width: 100%;
  }

  div.p {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }

  /*  == page 2 == */
  #m_page2 {
    margin: 50px 5px 0;
  }
}

/* ========================================
    フッター
========================================= */
footer {
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  background-color: greenyellow;
}

footer p {
  text-align: center;
}

/* ========================================
    スマートフォン向け
========================================= */
