@charset "utf-8";

/* ========================================
    リセットcss
========================================= */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  overflow-y: scroll;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
input,
textarea {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
}
a:focus {
  outline: none;
}

/* ========================================
    全体設定
========================================= */
body {
  color: rgba(82, 106, 100, 1);
  font-size: 14px;
  line-height: 1.4em;
  font-family: "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: rgba(39, 50, 50, 1);
  text-decoration: none;
}

/* micro clearfix */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/* ========================================
    side wrapper
========================================= */
div#side_wrapper {
  width: 284px;
  height: 800px;
  background-color: rgba(175, 197, 191, 1);
  float: left;
  position: relative;
}

div#SNS_ICONS {
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#SNS_ICONS dt {
  margin-bottom: 20px;
  margin-right: 5px;
  text-align: right;
}

#SNS_ICONS span {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#SNS_ICONS dl {
  margin-bottom: 10px;
  fill: rgba(39, 50, 50, 1);
  width: 30px;
}

/* ========================================
    ヘッダー
========================================= */
header {
  width: 100%;
  height: 50px;
  padding: 25px 0;
}

div#header_inner {
  width: 500px;
  height: 36px;
  margin-left: 400px;
}

/*  メニュー　*/
header nav {
  margin-top: 19px;
  float: right;
}

header ul li {
  float: left;
  padding: 0 25px;
}

header ul li a {
  font-size: 16px;
  color: rgba(82, 106, 100, 1);
}

/* ========================================
    メイン画像
========================================= */
div#main {
  width: 100%;
  height: 650px;
}

li#mainimage_ai img {
  float: left;
  height: 650px;
}

li#mainimage_text p {
  margin-top: 300px;
  margin-left: 100px;
  display: inline-block;
}

li#mainimage_text span {
  font-size: 100px;
  font-weight: 900;
  letter-spacing: 7px;
}

/* ========================================
    フッター
========================================= */
footer {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
